* {
    box-sizing: borer-box;
    font-family: 'Kumbh Sans', sans-serif;
    
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(280deg, #e5c1c0,#76dae4,#a0e8bb);*/
    background: -webkit-linear-gradient(180deg, #8bc9fe,#7fe3fe,#a3e5dc);                                 
}

.main-heading { /* HEADING */
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
} .main-heading span {
    opacity: 70%;
} .main-heading h1 {
    font-weight: bold;
} .main-heading h2 {
    font-weight:normal;
    font-size: medium;
    opacity: 0.9;
}

.accordion-sections { /* Articles block */
    margin: 0px auto;
    max-width: 1100px;
    
    font-size: larger;

    padding-bottom: 40px;
}

.upper-text-block {
    margin: 0px auto;
    max-width: 900px;

    font-size: 22px;

    padding-bottom: 40px;
    padding: 10px;
}

.review-section {
    max-width: 1100px;
    padding: 40px 5px;
    margin: 0 auto;
}
